.flexRow {
	display: flex;
	flex-direction: row;
}
.flexCol {
	display: flex;
	flex-direction: column;
}
.jcCenter {
	justify-content: center;
}
.jcSpaceBetween {
	justify-content: space-between;
}
.jcSpaceAround {
	justify-content: space-around;
}
.jcFlexStart {
	justify-content: flex-start;
}
.jcFlexEnd {
	justify-content: flex-end;
}
.aiCenter {
	align-items: center;
}
.aiFlexStart {
	align-items: flex-start;
}
.aiFlexEnd {
	align-items: flex-end;
}
.acCenter {
	align-content: center;
}
.acFlexStart {
	align-content: flex-start;
}
.acFlexEnd {
	align-content: flex-end;
}
.wrap {
	flex-wrap: wrap;
}

.taCenter {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}